---
layout: default
---

<div class="page-single">
  <div class="entry-header">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div>
</div>

<!-- Featured Image -->
{% include featured-image.html %}
<div class="article-post">
  {{ content }}
  <div class="row">
    <h4>Members</h4>
  </div>
  <div class="row">
    {% assign members = site.cyclists | where_exp:"item", "item.team == page.team" %} 
    {% for member in members %}
    <div class="col-md-6">
      {% if member.showProfile == true %}
      <a href="{{site.baseurl}}/profile/{{ member.name }}">
        {% endif %}
        <div class="profile-card {% if member.showProfile == true %}with-link{% endif %}">
          <img
            src="{{site.baseurl}}/{{ member.card-cover }}"
            class="img img-responsive"
          />
          <div class="profile-name">{{ member.display_name }}</div>
          <div class="profile-username">"{{ member.nickname }}"</div>
          <div class="profile-icons">
            {% if member.facebook %}
            <a href="https://www.facebook.com/{{member.facebook}}" class="profile-icon" target="_blank"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if member.instagram %}
            <a href="https://www.facebook.com/{{member.facebook}}" class="profile-icon" target="_blank"><i class="fa fa-instagram"></i></a>
            {% endif %}
            {% if member.twitter %}
            <a href="https://www.facebook.com/{{member.facebook}}" class="profile-icon" target="_blank"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if member.linkedin %}
            <a href="https://www.facebook.com/{{member.facebook}}" class="profile-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
            {% endif %}
          </div>
        </div>
        {% if member.showProfile == true %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
